.slick-dots li.slick-active button:before {
    color: #fff !important; /* Replace #yourActiveColor with the color you want */
  }

  .slick-dots li button:before {
    font-size: 15px !important; /* Adjust the size as needed */
  }

  .slick-dots {
    transform: translateY(20px) !important; /* Adjust the size as needed */
  }